
# Grafana

# Password dell'utente admin di Grafana
GRAFANA_ADMIN_PASSWORD=change_me

# Strava API

# Access Token Strava
STRAVA_TOKEN=your_strava_access_token_here


# SMTP / Email Alerts

# Impostare a true per abilitare gli alert via email
GF_SMTP_ENABLED=false

# Server SMTP
GF_SMTP_HOST=smtp.gmail.com:587

# Credenziali Gmail
GF_SMTP_USER=your_gmail_address_here

# Per Gmail utilizzare una App Password
# https://support.google.com/accounts/answer/185833
GF_SMTP_PASSWORD=your_gmail_app_password_here

# Mittente delle email
GF_SMTP_FROM_ADDRESS=your_gmail_address_here
GF_SMTP_FROM_NAME=StravaEngine

# Destinatario degli alert
GF_ALERT_EMAIL_TO=alert_recipient_email_here